<div>
    <h1 class="text-success text-decoration-underline"> Liste des etudiants</h1>
    <form class="w-75 d-flex  flex-column justify-content-center">
      <div class="form-group">
      <label for="classe" class="form-label fw-bold">classe</label>
      <input type="text" class="form-control" id="classe" >
      </div>
      <div class="form-group">
      <label for="date" class="form-label fw-bold">date</label>
      <input type="date" class="form-control" id="date" >
      </div>
      <div>
        <button class="btn btn-outline-success w-25"  >resercher</button>
      </div>
    </form>
    <hr>
    <table v-show="this.showList" class="table table-bordered border-success">
      <thead>
        <tr>
          <th class="bg-success text-white">matricule</th>
          <th class="bg-success text-white">nom et prenom</th>
          <th class="bg-success text-white">classe</th>
          <th colspan="2" class="bg-success text-white">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <i class="fa-solid fa-missing">Absences</i>
            <i class="fa-solid fa-trash">Annuler</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>